@use '../../styles/base';

.display {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 1rem;

}


.bars {
    display: flex;

    gap: .5rem;
}

.bar {
    width: 12px;
    height: 30px;

    border: 2px solid base.$color3;
    
    &[data-filled=true] {
        &[data-strength="1"] {
            border: 2px solid base.$color6;
            background-color: base.$color6;
        }

        &[data-strength="2"] {
            border: 2px solid base.$color7;
            background-color: base.$color7;
        }

        &[data-strength="3"] {
            border: 2px solid base.$color8;
            background-color: base.$color8;
        }

        &[data-strength="4"] {
            border: 2px solid base.$color5;
            background-color: base.$color5;
        }
    }
    

}