@use '../../styles/base';

.copy {
    display: flex;

    span {
        margin-right: 1rem;
        color: base.$color5;
    }
}



.button {
    background-color: inherit;
    border: inherit;

    cursor: pointer;

    &:hover {
        path {
            fill: white;
        }
    }
}