@use 'base';

.main {
    width: 90%;
    max-width: 540px;
    margin: auto;

    height: 100vh;


    display: flex;
    flex-flow: column nowrap;

    gap: 1rem;

    justify-content: center;
}

.header {
    text-align: center;
    color: base.$color2;
}

.section {
    background-color: base.$color1;
    padding: 1rem;
}

.header {
    color: base.$color2;
}

.passwordScreen {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;
}

.button {
    width: 100%;
    height: 56px;
    margin-top: 1rem;

    background-color: base.$color5;
    border: 2px solid base.$color5;

    span {
        margin-right: 1rem;
    }

    &:hover {
        background-color: base.$color1;

        span {
            color: base.$color5;

        }
        
        svg {
            path {
                fill: base.$color5;
            }
        }
        
    }
}